*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 300vh;
    background: linear-gradient(to top right, #00d900, 10%, #181a1b);
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
    margin: -1px;
}

.box {
    width: 100%;
    border: 1px solid black;
    margin: auto;
    text-align: center;
}

.top {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    text-align: center;
    border: 1px solid black;
}

.logo {
    font-size: 6rem;
    width: 100%;
    text-align: center;
}

.demos {

}

.demos div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1rem;
}